:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Smythe, sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

/* General */
.hidden {
    display: none !important;
}

/* Header */
header {
    background-image: url(../public/images/header.png);
    background-size: cover;
    background-position: center;
    height: 168px;
    color: white;
    padding: 46px;
}
header h1 {
    font-size: 39px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}
header h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 42px;
    margin: 0;
}

/* Menu */
#menu {
    padding: 67px 46px 45px 46px;
}
#menu .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
#menu .item .info {
    flex: 0 0 60%;
}
#menu .item .name {
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
#menu .item .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8b8b8b;
    margin: 0;
}
#menu .item .price {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}
#menu .item:last-child {
    margin: 0;
}
#menu .item .add-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #3c3c3c;
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

/* Cart */
#cart {
    padding: 0 46px 67px 46px;
}
#cart h3 {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 18px;
}
#cart #cart-items {
    padding-bottom: 28px;
    border-bottom: 2px solid #393333;
}
#cart #cart-items .item,
#cart .total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cart #cart-items .item .left p {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 18px;
}
#cart #cart-items .item .left .remove-btn {
    background: transparent;
    height: auto;
    width: auto;
    margin: 0;
    margin-left: 12px;
    color: #8b8b8b;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
}
#cart #cart-items .item .right {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
#cart #total-price {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cart button {
    background: #16db99;
    color: #ffffff;
    height: 60px;
    width: 100%;
    border: none;
    margin-top: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

/* Checkout */
#checkout-modal {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
    border: 1.3px solid #ffffff;
    border-radius: 4px;
}
#checkout-modal h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0%;
    margin: 0.5rem 0 1rem 0;
}
#checkout-modal #checkout-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}
#checkout-modal #checkout-form input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 48px;
    border: 1px solid #757575;
    border-radius: 4px;
    padding: 0.5rem;
    color: #757575;
}
#checkout-modal #checkout-form input:focus,
#checkout-modal #checkout-form input:active {
    outline: none;
}
#checkout-modal #checkout-form input::placeholder {
    color: #757575;
}
#checkout-modal #checkout-form button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #16db99;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    cursor: pointer;
    margin-top: 1rem;
}

/* Order Completed */
#order-completed {
    width: 80%;
    background: #ecfdf5;
    color: #065f46;
    margin: auto;
    padding: 1rem 2.25rem;
    border-radius: 4px;

    font-family: Smythe, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 16.8px;
    letter-spacing: 0%;
}
