:root {
    --red-color: #F94F6D;
    --light-blue-color: #9AABD8;
    --dark-blue-color: #1B244A;
    --dark-color: #080001;
    --light-color: #EEEEEE;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--dark-blue-color);
}

.container {
    display: flex;
    /* justify-content: space-around; */
    gap: 1em;
}

.container > div {
    margin: 68px auto 0;
    border-radius: 5px;
}
.container > div > h3 {
    font-family: 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: var(--light-color);
    text-align: center;
    margin: 0;
}
.container > div > h1 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;

    width: 155px;
    height: 120px;

    color: var(--red-color);
    background-color: var(--dark-color);
    border-radius: 5px;

    margin: 21px auto 0;
}

.container > div > .btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 26px auto 0;
}

.btn {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    color: var(--light-blue-color);
    background-color: var(--dark-blue-color);

    border: 2px solid var(--light-blue-color);
    border-radius: 5px;

    padding: 10px;
    margin: 10px auto;

    width: 45px;
    height: 45px;

    cursor: pointer;
}
.btn:hover {
    color: var(--dark-blue-color);
    background-color: var(--light-blue-color);
    /* border: 2px solid var(--dark-blue-color); */
    transition: all 0.3s ease-in-out;
}

#reset-btn {
    display: block;
    margin: 20px auto;
    width: 90px;
}

.winner {
    color: var(--light-color);
    background-color: var(--red-color);
    scale: 1.25;
    padding: 0.75em;
    transition: all 0.3s ease-in-out;
}