.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  background-color: #2545b8;
  padding: 2rem;
  max-width: 1144px;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}

.testimonials-image {
  box-shadow: 0px 4px 6px -2px #0000000d;
  width: 384px;
  height: 330px;
  object-fit: cover;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.testimonials .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 2rem;
  text-align: left;
  gap: 1rem;
}

.testimonials .info .quotes-icon {
  width: 24px;
  height: 24px;
  position: relative;
  left: 0;
}

.testimonials .info .text {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  margin: 0;
}

.testimonials .info .name {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}

.testimonials .info .job {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}

/* Media Queries */

/* Large Desktop */
@media (min-width: 1200px) {
  .testimonials {
    padding: 3rem;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    margin-top: 6rem;
  }

  .testimonials-image {
    width: 100%;
    height: 250px;
    position: relative;
    top: -125px;
    margin-bottom: -150px;
    z-index: 2;
  }
}