.tooltip-wrapper {
  position: relative;
}

.tooltip {
  width: 360px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 0.25rem;
  padding: 0.75rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  z-index: 100;
  animation: fadeIn 0.2s ease-in-out;
  -webkit-animation: fadeIn 0.2s ease-in-out;
}

.tooltip h3 {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
}

.tooltip img {
  width: 18px;
  height: 18px;
  padding: 0.2rem 0.5rem;
}

.tooltip p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
}

/* Colors */
.tooltip.primary {
  background-color: #fff;
}
.tooltip.primary::after {
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}
.tooltip.primary img {
  filter: brightness(0);
}
.tooltip.primary h3 {
  color: #000;
}
.tooltip.primary p {
  color: #6b7280;
}

.tooltip.success {
  background-color: #e7fff3;
}
.tooltip.success::after {
  border-top-color: #e7fff3;
  border-bottom-color: #e7fff3;
  border-left-color: #e7fff3;
  border-right-color: #e7fff3;
}
.tooltip.success img {
  filter: invert(42%) sepia(21%) saturate(1500%) hue-rotate(90deg) brightness(95%);
}
.tooltip.success h3 {
  color: #137a2a;
}
.tooltip.success p {
  color: #3c8c4e;
}

.tooltip.danger {
  background-color: #fff3fc;
}
.tooltip.danger::after {
  border-top-color: #fff3fc;
  border-bottom-color: #fff3fc;
  border-left-color: #fff3fc;
  border-right-color: #fff3fc;
}
.tooltip.danger img {
  filter: invert(40%) sepia(60%) saturate(2000%) hue-rotate(290deg) brightness(90%);
}
.tooltip.danger h3 {
  color: #a9229b;
}
.tooltip.danger p {
  color: #c7369e;
}

.tooltip.info {
  background-color: #e0e7ff;
}
.tooltip.info::after {
  border-top-color: #e0e7ff;
  border-bottom-color: #e0e7ff;
  border-left-color: #e0e7ff;
  border-right-color: #e0e7ff;
}
.tooltip.info img {
  filter: invert(27%) sepia(73%) saturate(1500%) hue-rotate(200deg) brightness(90%);
}
.tooltip.info h3 {
  color: #1e40af;
}
.tooltip.info p {
  color: #1c51b9;
}

/******* Position *******/
.tooltip.top {
  bottom: 120%;
}
.tooltip.top::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 12px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -23%;
  left: 10%;
}
.tooltip.top {
  animation: tooltipFadeInTop 0.2s ease-in-out;
}
@keyframes tooltipFadeInTop {
  from {
    opacity: 0;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}


/* Bottom */
.tooltip.bottom {
  top: 120%;
}
.tooltip.bottom::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 12px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -23%;
  left: 10%;
}
.tooltip.bottom {
  animation: tooltipFadeInBottom 0.2s ease-in-out;
}
@keyframes tooltipFadeInBottom {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Left */
.tooltip.left {
  left: 120%;
  top: 50%;
}
.tooltip.left::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 12px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  left: -6%;
  top: 10%;
}
.tooltip.left {
  animation: tooltipFadeInLeft 0.2s ease-in-out;
}
@keyframes tooltipFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-4px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Right */
.tooltip.right {
  right: 120%;
  top: 0%;
}
.tooltip.right::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 12px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  right: -6%;
  top: 10%;
}
.tooltip.right {
  animation: tooltipFadeInRight 0.2s ease-in-out;
}
@keyframes tooltipFadeInRight {
  from {
    opacity: 0;
    transform: translateX(4px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
