:root {
    /* font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0%; */

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-padding: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-width: 320px;
}

/* header */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--main-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header a {
    color: #0e0e0e;
    text-decoration: none;
}
header .logo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    font-family: Roboto;
    font-weight: 700;
    font-size: 13.55px;
    line-height: 108%;
    letter-spacing: -3%;
}
header .logo:hover {
    color: #555;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}
header nav a {
    color: #090909;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* footer */
footer {
    width: 100%;
    padding: 37px;
    text-align: center;
    background-color: #202020;
}
footer a {
    color: #ececec;
    text-decoration: none;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 12px;
    line-height: 108%;
    letter-spacing: -3%;
}
footer a:hover {
    color: #555;
}
footer p {
    color: #d7d7d7;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0%;
}

/* Home page */
.hero {
    padding: var(--main-padding);
    background-image: url(/public/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Source Sans Pro;
}
.hero small {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.hero h1 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 32px;
    line-height: 108%;
    letter-spacing: -3%;
    margin-block: 0.5rem;
}
.hero p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0%;
}

/* Posts */
.posts {
    padding: var(--main-padding);
}
.posts article {
    margin-bottom: 2.5rem;
}
.posts article img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}
.posts article small {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14.17px;
    line-height: 100%;
    letter-spacing: 0%;
}
.posts article h2 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: 0%;
    margin-block: 0.5rem;
    color: #141414;
}
.posts article p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #505050;
}
.posts article.post-4,
.posts article.post-5,
.posts article.post-6 {
    display: none;
}
.posts .view-more {
    display: block;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin-bottom: 1rem;
}

/* Media Queries */
@media (min-width: 768px) {
    .posts article.post-4,
    .posts article.post-5,
    .posts article.post-6 {
        display: block;
    }
    .posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .hero {
        height: 400px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero p {
        font-size: 18px;
    }
}
