:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-padding: 1.25rem;
}

/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-width: 20rem;
}

/* Add loading optimization */
img {
    height: auto;
    max-width: 100%;
    loading: lazy;
}

/* header */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--main-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header a {
    color: #0e0e0e;
    text-decoration: none;
}
header .logo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    font-family: Roboto;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 108%;
    letter-spacing: -3%;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}
header nav a {
    color: #090909;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

/* footer */
footer {
    width: 100%;
    padding: 2.3125rem;
    text-align: center;
    background-color: #202020;
}
footer a {
    color: #ececec;
    text-decoration: none;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 108%;
    letter-spacing: -3%;
}
footer a:hover {
    color: #555;
}
footer p {
    color: #d7d7d7;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 125%;
    letter-spacing: 0%;
}

/* Home page */
.hero {
    padding: var(--main-padding);
    background-image: url(/public/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Source Sans Pro;
}
.hero small {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0%;
}
.hero h1 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 2rem;
    line-height: 108%;
    letter-spacing: -3%;
    margin-block: 0.5rem;
}
.hero p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0%;
}

/* Posts */
.posts {
    padding: var(--main-padding);
}
.posts article {
    margin-bottom: 2.5rem;
}
.posts article img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 0.1875rem;
}
.posts article small {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
}
.posts article h2 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 108%;
    letter-spacing: 0%;
    margin-block: 0.5rem;
    color: #141414;
}
.posts article p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 1rem;
    line-height: 125%;
    letter-spacing: 0%;
    color: #505050;
}
.posts article.article-4,
.posts article.article-5,
.posts article.article-6 {
    display: none;
}
.posts .view-more {
    display: block;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin-bottom: 1rem;
    color: #000;
}

/* Main Post */
.post {
    padding: var(--main-padding);
    margin-top: 2rem;
    font-family: Source Sans Pro;
}
.post small {
    color: #151515;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0%;
}
.post h1 {
    color: #141414;
    font-weight: 700;
    font-size: 2rem;
    line-height: 108%;
    letter-spacing: -3%;
    margin-block: 1rem;
}
.post img {
    width: 100%;
    margin-block: 2rem;
    border-radius: 0.1875rem;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    color: #151515;
    margin-bottom: 1.5rem;
}
.info .title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
}
.info .desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
}
.posts h3 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* About */
.about {
    padding: var(--main-padding);
    margin-top: 0.5rem;
    font-family: Source Sans Pro;
}
.about h1 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 108%;
    letter-spacing: -3%;
    color: #151515;
    margin-block: 1.5rem;
}
.about .info {
    margin-top: 3rem;
}

/* Media Queries */
@media (min-width: 768px) {
    :root {
        --main-padding: 3rem;
    }

    body {
        max-width: 71.25rem;
        margin: 0 auto;
    }

    header {
        padding: 1.5rem 3.375rem;
    }
    header .logo {
        font-size: 1.25rem;
    }
    header .logo img {
        width: 2.125rem;
        margin-right: 0.2rem;
    }
    header nav a {
        font-size: 1rem;
    }

    /* Home page */
    .hero {
        max-height: 30rem;
    }
    .hero small {
        font-size: 1rem;
    }
    .hero h1 {
        font-size: 2.5rem;
        margin-block: 1rem;
    }
    .hero p {
        font-size: 1rem;
        max-width: 70%;
    }

    .posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .posts article {
        max-width: 19.3125rem;
        margin-bottom: 2rem;
    }
    .posts article.article-4,
    .posts article.article-5,
    .posts article.article-6 {
        display: block;
        margin-bottom: 0;
    }
    .posts .view-more {
        width: 100%;
        margin-top: 2rem;
    }

    /* Main Post */
    .post {
        margin: 0 auto;
    }
    .post .header {
        width: 90%;
        margin: 0 auto;
    }
    .post img {
        max-height: 30.5rem;
        object-fit: cover;
    }
    .info {
        width: 90%;
        margin: 0 auto;
    }
    .posts h3 {
        width: 100%;
    }

    /* About */
    .about {
        padding-bottom: 0;
    }
    .about .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .about .header .author {
        display: flex;
        flex-direction: column;
    }
}
