.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.toast {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out forwards;
  -webkit-animation: slideIn 0.3s ease-out forwards;
  overflow: hidden;
}
.toast.hidden {
  animation: slideOut 0.3s ease-in forwards;
  -webkit-animation: slideOut 0.3s ease-in forwards;
}

.toast img {
  width: 24px;
  height: 24px;
}

/* Close button */
.toast .close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  padding: 0;
}
.toast .close:hover {
  color: #555454;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

/* Progress bar */
.toast .toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  animation: progress linear forwards;
  -webkit-animation: progress linear forwards;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.toast:hover .toast-progress {
  animation-play-state: paused;
}

/* Content */
.toast .toast-content {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.1rem;
}
.toast .toast-content .title {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
}
.toast .toast-content .content {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
}

.toast .toast-content .title {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

/* Colors */
.toast.success {
  background-color: #ECFDF5;
}
.toast.success .title {
  color: #065F46;
}
.toast.success .content {
  color: #047857;
}
.toast.success .toast-progress {
  background-color: #047857;
}

.toast.error {
  background-color: #FEF2F2;
}
.toast.error .title {
  color: #92400E;
}
.toast.error .content {
  color: #B45309;
}
.toast.error .toast-progress {
  background-color: #B45309;
}

.toast.warning {
  background-color: #FFFBEB;
}
.toast.warning .title {
  color: #92400E;
}
.toast.warning .content {
  color: #B45309;
}
.toast.warning .toast-progress {
  background-color: #B45309;
}

.toast.info {
  background-color: #EFF6FF;
}
.toast.info .title {
  color: #1C51B9;
}
.toast.info .content {
  color: #1C51B9;
}
.toast.info .toast-progress {
  background-color: #1C51B9;
}

/* Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes progress {
  from {
    transform-origin: left;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
  to {
    transform-origin: left;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
}
